body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #303030;
    color: rgb(255, 255, 255);
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input[type="submit"] {
    background-color: yellow;
    color: black;
}

select {
    background-color:green;
}

.nav navbar-nav:hover {
    background-color: yellow;
    border-radius:10px;
}

#table {
    background-color: black;
}

.Odg {
    width: 40%;
    margin: 30px auto;
    background: silver;
    padding: 10px;
}

    .Odg img {
        width: 100%;
    }

    