@{
    ViewBag.Title = "Naša priča";
}
@{
    ViewBag.Message = "Ko smo mi i zašto smo najbolji?";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    
    Auto škola TIM je osnovana u Kragujevcu od 05. 10. 1994. godine, i može se pohvaliti tradicijom dugom 25 godina. Osnivač Centra za obuku vozača TIM d. o. o. je Spasić Marica .

    Od osnivanja škole, pa sve do danas, obučili smo više hiljada kandidata za AM, A1, A2, A, B, C i CE kategorije.

    Od 09.12.2013. ponosni smo vlasnici licence po novom zakonu.

    Ono što nas izdavaja iz mase drugih auto škola, jeste to da smo se potrudili da naši kandidati svoju obuku vrše pre svega na novim, ekskluzivnim, urednim, klimatizovanim vozilima, sa najnovijom tehnologijom kao što su ABS, ESP, ASR i mnoge druge savremene tehnologije.

    Pored vozila koja su adut naše škole, izdvajamo se i po tome što koristimo najsavremenije metode učenja i provere znanja naših polaznika, za što bolje i lakše usavršavanje teorijske obuke. Obezbedili smo svim polaznicima priručnike i ostala učila, kao i besplatno korišćenje naše web aplikacije za proveru znanja i učenja.

    Dugogodišnjim radom, stekli previše iskustva i profesionalizovali svoj kadar sa kojim smo ostvari zavidne rezultate na teritoriji cele zemlje, mnogo je razloga da nam ukažete poverenje jer mi smo TIM koji dobija!
</p>
